@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

*{
    font-family: 'Roboto Condensed', sans-serif;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
}

.company{
    border: 1px solid transparent;
}

.btn-primary {
    color: #fff;
    background-color: #007b5e;
    border-color: #007b5e;
}

section {
    padding: 60px 0;
    margin: auto;
    width: 1000px;
    height: 1050px;
    /* background-color:  rgb(135, 206, 250,0.6); */
    /* background-color: rgb(218, 165, 32,0.6); */
  /* background-color:lavender; */
    margin-left:250px;
    background-image: linear-gradient(to right, #ff758c 40%, #ff7eb3 100%);
    
    
}

section li{
    float: left;
}

.top-half{
    height: 100%;
    width: 100%;
    margin:0px;
    padding: 10px;
    background-color: rgb(255, 182, 193,0.1);
    /* background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%); */
    border-radius: 10px;
    box-shadow: black;
    
    backdrop-filter: blur(10px);
   
}

#team .card {
    border: 1px solid rgba(255,255,255,0.1);
    border: none;
    background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
    color: black;
    display: inline-block;
    width: 210px;
    height: 295px;
    font-size: 10px;
    backdrop-filter: blur(40px);
 
    box-shadow: black;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    transform:  perspective(1000px) ;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    transform:rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
    
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    margin-left: 20px;
}

.frontside .card,
.backside .card {
    min-height: 100px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.backside .card a {
    font-size: 10px;
    color: #007b5e !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: black !important;
    text-align: center;
}